@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
$color1:#f7efec;
$color2:#0C0200;
$color3:#E78727;
$color4:#751D06;
$color5:#D00E14;

body
{
    background-color: whitesmoke;
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: auto;
    margin-right: auto;
    #header
    {        
        border-bottom: 1px grey solid;
        #title
        {
            margin-left: 1vw;
            font-family: 'Satisfy', cursive;
        }
        #divCarrito
        {
            display: inline;
            margin-right: 0;
            text-align: right;
            img
            {
                width: 2vw;
                height: 2vw;
            }
        }
        padding: 0 inherit 4px inherit;
        margin-bottom: 4px;
    }
    #logoRow
    {
        img
        {
            margin-top: 4px;
            padding-top: 4px;
            margin-bottom: 4px;
            padding-bottom: 4px;
            border-bottom: 1px grey solid;
        }
    }
    nav
    {
        margin-top: 10px;
        margin-bottom: 4px;
        padding: 4px 0 4px 0;
        ul
        {
            width:fit-content;            
            list-style: none;
            display: inline-block;
            li
            {
                //padding: auto;
                width: auto;
                text-align: center;
                padding: 1vw;
                color: #f7efec;
            }
        }
    }
    #menu
    {
        border-top: grey solid 1px;
        margin-top: 4px;
        margin-left: auto;
        margin-right: auto;
        min-width: 100%;
        width: 100%;
        h1
        {
            text-align: center;
            border-bottom: grey solid 1px;
            padding-bottom: 4px;
        }
        #foodRow
        {
            .d-flex
            {
                margin-left: auto;
                margin-right: auto;
                .card
                {
                    width: 18rem;
                    padding: 3px;
                    margin: 3px;
                    height: auto;
                    .btn
                    {
                        background-color: #0C0200;
                        color: #f7efec;
                        margin-left: 0;
                        margin-bottom: 0;
                        justify-self: baseline;
                    }
                }
            }
        }
        table
        {
            margin-left: auto;
            margin-right: auto;
            tr
            {
                margin-left: auto;
                margin-right: auto;
                td
                {
                    button
                    {
                        background-color: gray;
                        color: #f7efec;
                        border-radius: 4px;
                        text-align: center;
                        display: inline-block;
                    }
                }
            }
        }
        #confBtn
        {
            background-color: #ecae70;
            color: #0C0200;
            border-radius: 5px;
            border-color: #0C0200;
            border-width: 2px;
            margin-right:0;
        }
        #canBtn
        {
            background-color: #D00E14;
            border-radius: 5px;
            border-color: grey;
            border-width: 2px;
            margin-right:0;
        }
        #Cancel
        {
            background-color: #D00E14;
            border-radius: 5px;
            border-color: grey;
            border-width: 2px;
        }
        #Accept
        {
            background-color: #ecae70;
            color: #0C0200;
            border-radius: 5px;
            border-color: #0C0200;
            border-width: 2px;
        }
    }
    footer
    {
        text-align: center;
        font-weight: lighter;
        a
        {
            text-decoration: none;
            color: #0C0200;
        }
    }
}

