@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
body {
  background-color: whitesmoke;
  padding-left: 1vw;
  padding-right: 1vw;
}
body #header #title {
  margin-left: 1vw;
  font-family: "Satisfy", cursive;
}
body #header #divCarrito {
  display: inline;
  margin-right: 0;
  text-align: right;
}
body #header #divCarrito img {
  width: 2vw;
  height: 2vw;
}
body nav ul li {
  padding: auto;
  text-align: center;
  padding: 1vw;
  color: #f7efec;
}
body #menu h1 {
  text-align: center;
}
body #menu #foodRow .card {
  padding-left: 2px;
  padding-right: 2px;
}
body #menu #foodRow .card .btn {
  background-color: #0C0200;
  color: #f7efec;
  margin-left: 0;
}
body #menu table tr td button {
  background-color: gray;
  color: #f7efec;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}
body #menu #confBtn {
  background-color: #ecae70;
  color: #0C0200;
  border-radius: 5px;
  border-color: #0C0200;
  border-width: 2px;
}
body #menu #canBtn {
  background-color: #D00E14;
  border-radius: 5px;
  border-color: grey;
  border-width: 2px;
}
body #menu #Cancel {
  background-color: #D00E14;
  border-radius: 5px;
  border-color: grey;
  border-width: 2px;
}
body #menu #Accept {
  background-color: #ecae70;
  color: #0C0200;
  border-radius: 5px;
  border-color: #0C0200;
  border-width: 2px;
}
body footer {
  text-align: center;
  font-weight: lighter;
}
body footer a {
  text-decoration: none;
  color: #0C0200;
}
